<h2 class="u-text-center" nz-title>Select a file to import</h2>

<div *ngIf="importService.files$ | async as files" class="file-list">
  <button
    *ngFor="let file of files; trackBy: trackByFileId"
    class="file"
    [class.file-selected]="file.FileId === importService.analyzeOptions.FileId"
    (click)="onFileClick(file)">
    <div class="file-inner">
      <i class="file-icon" nz-icon nzTheme="outline" nzType="file-text"></i>
      <span class="file-name">{{ file.FileName }}</span>
    </div>
  </button>
</div>

<div class="u-text-center">
  <button nz-button nzType="link">Upload New File</button>
</div>
