:host {
  display: block;
  max-width: 100%;
}

.step {
  &-back-button {
    padding: 0;
  }

  &-next-button {
    display: block;
    margin-left: auto;
  }

  &-content {
    margin-bottom: 14px;
  }

  &-title {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    &-wrapper {
      position: relative;
      margin-bottom: 32px;
    }
  }
}

.steps {
  display: block;
  width: 90%;
  margin: 0 auto 80px auto;
}
