<lx-steps showBack showNext [step]="1" (back)="onBackClick()" (next)="onNextClick()">
  <ng-container *ngIf="importService.filePreview$ | async as filePreview">
    <nz-alert *ngIf="filePreview.Error; else previewTemplate" nzType="error" [nzMessage]="filePreview.Error"></nz-alert>
    <ng-template #previewTemplate>
      <h2 class="u-text-center" nz-title>Selected index columns</h2>
      <p class="u-text-center" nz-paragraph>These columns will be used for ordering all data in the table.</p>
      <lx-columns
        selectable
        showToggleAll
        [(selected)]="importService.analyzeOptions.IndexColumns"
        [columns]="filePreview.Preview"
        [hideColumns]="importService.analyzeOptions.DataColumns"></lx-columns>
    </ng-template>
  </ng-container>
</lx-steps>
