<lx-steps
  showBack
  showNext
  [header]="importService.selectedFile?.FileName"
  [nextDisabled]="form.invalid"
  [step]="0"
  (back)="onBackClick()"
  (next)="onFormSubmit()">
  <form #form="ngForm" class="settings-form" nz-form nzLayout="vertical" (ngSubmit)="onFormSubmit()">
    <nz-form-item>
      <nz-form-label>Select a data type</nz-form-label>
      <nz-form-control>
        <nz-select
          name="DataTypeId"
          nzAllowClear
          nzPlaceHolder="Required"
          nzShowSearch
          nzSize="small"
          required
          [(ngModel)]="importService.analyzeOptions.DataTypeId">
          <nz-option
            *ngFor="let dataType of importService.dataTypes$ | async"
            [nzLabel]="dataType.DataTypeName"
            [nzValue]="dataType.DataTypeId"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Select a Date/Time decoder</nz-form-label>
      <nz-form-control>
        <nz-select
          name="TimeTypeId"
          nzAllowClear
          nzPlaceHolder="Required"
          nzShowSearch
          nzSize="small"
          required
          [(ngModel)]="importService.analyzeOptions.TimeTypeId">
          <nz-option
            *ngFor="let timeType of importService.timeTypes$ | async"
            [nzLabel]="timeType.TimeTypeName"
            [nzValue]="timeType.TimeTypeId"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Set an empty value</nz-form-label>
      <nz-form-control>
        <input
          name="EmptyValue"
          nz-input
          nzSize="small"
          placeholder="Optional"
          [(ngModel)]="importService.analyzeOptions.EmptyValue" />
      </nz-form-control>
    </nz-form-item>
  </form>
</lx-steps>
