:host {
  display: block;
  width: fit-content;
  max-width: 100%;
  overflow-x: auto;
  text-align: center;
  margin: 0 auto;
}

.columns {
  display: inline-flex;

  &-toggle-all {
    display: flex;
    justify-content: flex-end;
  }
}
