<div class="columns">
  <ng-container *ngFor="let column of columns; let index = index">
    <lx-column
      *ngIf="!hideColumnsMap[index] && (!showColumns || showColumnsMap[index])"
      [header]="'Column ' + index"
      [tags]="tags && tags[index]"
      [cells]="column"
      [selectable]="selectable"
      [selected]="selectedMap[index]"
      [taggable]="taggable"
      (click)="selectable && onColumnClick(index)"
      (tagsChange)="onTagsChange(index, $event)"></lx-column>
  </ng-container>
</div>
