<div *ngIf="showToggleAll" class="columns-toggle-all">
  <button class="columns-toggle-all-btn" nz-button nzSize="small" nzType="link" (click)="onToggleAllClick()">
    {{ allSelected ? 'Clear' : 'Select' }} All
  </button>
</div>
<div class="columns">
  <ng-container *ngFor="let column of columns; let index = index">
    <lx-column
      *ngIf="isColumnVisible(index)"
      [availableTags]="availableTags"
      [cells]="column"
      [header]="'Column ' + index"
      [selectable]="selectable"
      [selected]="isSelected(index)"
      [taggable]="taggable"
      [tags]="tags && tags[index]"
      (click)="selectable && onColumnClick(index)"
      (tagAdd)="tagAdd.emit($event)"
      (tagsChange)="onTagsChange(index, $event)"></lx-column>
  </ng-container>
</div>
